@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&display=swap');

/* Variaveis */
:root {
    --branco: #fefefe;
    --branco2: #ebe9ea;
    --cinza: #474747;
    --preto: #181818;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
}

/* Estilos */
html,
body {
    font-family: "Montserrat";
}

/* CABECALHO */
div#cabecalho {
    height: 50px;
    background-color: var(--preto);
    display: flex;
    justify-content: center;
    align-items: center;
}

div#texto-cabecalho {
    color: var(--branco);
    text-align: center;
}

header h1 {
    text-align: center;
    font-size: 24px;
    padding: 15px 0px;
}

/* MAIN */
main div#bg {
    display: flex;
    justify-content: left;

    color: var(--branco);
    height: 378px;
    
    background-color: #181818f4;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/background2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 30px;
}

main div#texto-bg {
    padding-left: 50px;
    align-self: center;
}

main div#texto-bg p{
    margin-top: 20px;
    line-height: 30px;
}

main div#texto-main{
    text-align: center;
}

main div#texto-main p{
    margin-top: 25px;
    margin-bottom: 35px;
}

main div#flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

main div.produto{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 302px;
    background-color: var(--branco2);
    margin: 19px 13px;
}

/* FOOTER */
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    color: var(--branco);
    background-color: #181818;
    margin-top: 50px;
}